<% title 'System Monitoring' %>
<%= render :partial => '/layouts/menu' -%>
<h2>Monitors</h2>
<% @monitors.each do |monitor| %>
    <p>
      <b><%= monitor.name -%></b><br/>
      <%= monitor.method -%>
    </p>
<% end %>

<h2>Remote Asserts</h2>
<% @remotes.each do |monitor| %>
  <p>
    <b><%= monitor.name -%></b><br/>
    <%= monitor.method -%> assert word <%= monitor.word %> of output of 
    <span style='color: red;background: yellow;font-weight:bold;'><%= monitor.command -%></span>
    <% 
      monitor.run 
      r=monitor.response.split(/\s+/)
      s=""
      r.each_with_index do |r1,idx|
        s +=( idx == monitor.word || idx == r.length+monitor.word ? "<span style='color: red;background: yellow;font-weight:bold;'>#{r1}</span>" : r1 )+" "
      end
    %>
    <pre><%= s -%></pre>
  </p>
<% end %>