<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript :defaults %>
    <%= yield(:head) %>
  </head>
  <body onload="<%= yield :onload -%>;">
    <div id="container">
        <div id='spinner' style='display:none; 
            position: relative;
            top: 30px;
            float: right;
            border: 5px solid #888;
            left: 10px;
            padding: 20px;
            background: black; color: white;
            opacity: 0.7;
            width: 200px;'>... updating ....
        </div>

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <div id='main'>      
        <%= yield %>
      </div>    
    </div>
    <div style='text-align:center;
      font-size: 10px;border-top: 1px solid #888;
      margin-top:10px;
      margin: auto;
      padding-bottom:5px;
      padding-top: 5px; 
      padding: 20px; 
      width: 800px; 
    '>
      © 2009 by Andreas Altendorfer        
    </div>
  </body>
</html>
